/* line 8, ../sass/partials/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/partials/_structure.scss */
.panel {
  min-width: 100%;
  position: relative;
  border-bottom: solid 1px black;
}

/* line 9, ../sass/partials/_structure.scss */
.contents-wrapper {
  width: 1020px;
  height: 760px;
  margin: 0 auto;
  padding: 21px 21px 21px 21px;
  padding: 2.1rem 2.1rem 2.1rem 2.1rem;
}

/* line 16, ../sass/partials/_structure.scss */
footer {
  min-width: 100%;
  position: relative;
  padding: 21px 0px 21px 0px;
  padding: 2.1rem 0rem 2.1rem 0rem;
}

/* line 22, ../sass/partials/_structure.scss */
.footer-wrapper {
  width: 1020px;
  margin: 0 auto;
}
