@charset "UTF-8";
/* line 64, ../img/i01_banner/*.png */
.i01_banner-sprite, .i01_banner-c0, .i01_banner-g0, .i01_banner-k0 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i01_banner-s948644e46a.png');
  background-repeat: no-repeat;
}

/* line 80, ../img/i03-2_cafe/*.png */
.i03-2_cafe-sprite, .i03-2_cafe-c2, .i03-2_cafe-c3, .i03-2_cafe-c4, .i03-2_cafe-c5, .i03-2_cafe-c6 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i03-2_cafe-sc7f5422289.png');
  background-repeat: no-repeat;
}

/* line 56, ../img/i04_kidsroom/*.png */
.i04_kidsroom-sprite, .i04_kidsroom-k1, .i04_kidsroom-k2 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i04_kidsroom-sf7663e8820.png');
  background-repeat: no-repeat;
}

/* line 56, ../img/i05-1_glass/*.png */
.i05-1_glass-sprite, .i05-1_glass-g1, .i05-1_glass-g2 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i05-1_glass-s9f676b4c39.png');
  background-repeat: no-repeat;
}

/* line 64, ../img/i05-2_glass/*.png */
.i05-2_glass-sprite, .i05-2_glass-g3, .i05-2_glass-g4, .i05-2_glass-g5 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i05-2_glass-sab078089f4.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i01_banner-c0 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i01_banner-g0 {
  background-position: 0 -210px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i01_banner-k0 {
  background-position: 0 -420px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i03-2_cafe-c2 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i03-2_cafe-c3 {
  background-position: 0 -110px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i03-2_cafe-c4 {
  background-position: 0 -220px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i03-2_cafe-c5 {
  background-position: 0 -330px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i03-2_cafe-c6 {
  background-position: 0 -440px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i04_kidsroom-k1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i04_kidsroom-k2 {
  background-position: 0 -175px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i05-1_glass-g1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i05-1_glass-g2 {
  background-position: 0 -93px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i05-2_glass-g3 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i05-2_glass-g4 {
  background-position: 0 -122px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.i05-2_glass-g5 {
  background-position: 0 -244px;
}

/* line 20, ../sass/partials/_01_sprites.scss */
.i01_banner-sprite, .i01_banner-c0, .i01_banner-g0, .i01_banner-k0, .i03-2_cafe-sprite, .i03-2_cafe-c2, .i03-2_cafe-c3, .i03-2_cafe-c4, .i03-2_cafe-c5, .i03-2_cafe-c6, .i04_kidsroom-sprite, .i04_kidsroom-k1, .i04_kidsroom-k2, .i05-1_glass-sprite, .i05-1_glass-g1, .i05-1_glass-g2, .i05-2_glass-sprite, .i05-2_glass-g3, .i05-2_glass-g4, .i05-2_glass-g5 {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/partials/_01_sprites.scss */
.i01_banner-sprite, .i01_banner-c0, .i01_banner-g0, .i01_banner-k0 {
  width: 878px;
  height: 210px;
}

/* line 32, ../sass/partials/_01_sprites.scss */
.i03-2_cafe-sprite, .i03-2_cafe-c2, .i03-2_cafe-c3, .i03-2_cafe-c4, .i03-2_cafe-c5, .i03-2_cafe-c6 {
  width: 122px;
  height: 110px;
}

/* line 38, ../sass/partials/_01_sprites.scss */
.i04_kidsroom-sprite, .i04_kidsroom-k1, .i04_kidsroom-k2 {
  width: 280px;
  height: 175px;
}

/* line 44, ../sass/partials/_01_sprites.scss */
.i05-1_glass-sprite, .i05-1_glass-g1, .i05-1_glass-g2 {
  width: 424px;
  height: 93px;
}

/* line 50, ../sass/partials/_01_sprites.scss */
.i05-2_glass-sprite, .i05-2_glass-g3, .i05-2_glass-g4, .i05-2_glass-g5 {
  width: 122px;
  height: 122px;
}

/* line 3, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h4 a, h5 a, h5, h1, h1 a, h2, h2 a, h3 a, h3 {
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
}

/* line 13, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h4 a, h5 a, h5, h1, h1 a, h2, h2 a, h3 a, h3 {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 23, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h4 a, h5 a, h5 {
  font-size: 15px;
}

/* line 28, ../sass/partials/_02_typography.scss */
h1, h1 a {
  font-size: 21px;
  visibility: hidden;
}
/* line 32, ../sass/partials/_02_typography.scss */
h1 a {
  visibility: visible;
}

/* line 38, ../sass/partials/_02_typography.scss */
h2, h2 a, h3 a, h3 {
  font-size: 21px;
}

/* line 46, ../sass/partials/_02_typography.scss */
h4, h4 a, h5 a, h5 {
  font-size: 15px;
}

/* line 54, ../sass/partials/_02_typography.scss */
.font-small {
  font-size: 13px;
}

/* line 58, ../sass/partials/_02_typography.scss */
.font-italic {
  font-style: italic;
}

/* line 62, ../sass/partials/_02_typography.scss */
.nav-panel-link {
  font-size: 18px;
}

/* line 67, ../sass/partials/_02_typography.scss */
.glass-panel-table3 th, .glass-panel-table3 td {
  font-size: 13px;
  font-weight: 400;
}

/* line 73, ../sass/partials/_02_typography.scss */
footer p {
  font-size: 13px;
}
/* line 75, ../sass/partials/_02_typography.scss */
footer p a {
  font-size: inherit;
}

/* line 3, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_03_structure.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_03_structure.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

/* line 21, ../sass/partials/_03_structure.scss */
#header-image {
  display: block;
  width: 1024px;
  margin: 0 auto;
}

/* line 27, ../sass/partials/_03_structure.scss */
article {
  display: block;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  background: white;
  border-left: dashed 1px #ddd;
  border-right: dashed 1px #ddd;
}

/* line 37, ../sass/partials/_03_structure.scss */
.panel {
  position: relative;
  width: 100%;
  padding: 0 72px;
}

/* line 43, ../sass/partials/_03_structure.scss */
.panel-footer {
  margin-top: 13px;
  text-align: right;
}
/* line 46, ../sass/partials/_03_structure.scss */
.panel-footer a {
  position: relative;
  height: 15px;
}
/* line 49, ../sass/partials/_03_structure.scss */
.panel-footer a:before {
  content: "";
  position: absolute;
  left: -23px;
  width: 18px;
  height: 18px;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/l1.png") no-repeat;
  -moz-background-size: 18px;
  -o-background-size: 18px;
  -webkit-background-size: 18px;
  background-size: 18px;
}

/* line 63, ../sass/partials/_03_structure.scss */
#header-panel {
  text-align: center;
}

/* line 67, ../sass/partials/_03_structure.scss */
nav {
  padding-top: 13px;
}
/* line 69, ../sass/partials/_03_structure.scss */
nav a {
  margin-right: 13px;
  padding-bottom: 5px;
  border-bottom: solid 1px transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 75, ../sass/partials/_03_structure.scss */
nav a:last-child {
  margin: 0;
}
/* line 78, ../sass/partials/_03_structure.scss */
nav a:hover {
  color: #ba429b;
  border-color: #ba429b;
}

/* line 87, ../sass/partials/_03_structure.scss */
#news-panel {
  text-align: center;
}

/* line 91, ../sass/partials/_03_structure.scss */
.news-panel-contents {
  position: relative;
  width: 180px;
  height: 110px;
  margin-right: 21px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 97, ../sass/partials/_03_structure.scss */
.news-panel-contents:first-child {
  width: 110px;
}
/* line 100, ../sass/partials/_03_structure.scss */
.news-panel-contents:last-child {
  margin: 0;
}
/* line 103, ../sass/partials/_03_structure.scss */
.news-panel-contents h4, .news-panel-contents h4 a, h4 .news-panel-contents a, .news-panel-contents h5 a, h5 .news-panel-contents a {
  margin-top: 6px;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 106, ../sass/partials/_03_structure.scss */
.news-panel-contents h4:hover, .news-panel-contents h4 a:hover, h4 .news-panel-contents a:hover, .news-panel-contents h5 a:hover, h5 .news-panel-contents a:hover {
  color: #ba429b;
}
/* line 110, ../sass/partials/_03_structure.scss */
.news-panel-contents ul {
  padding-top: 13px;
  border-top: solid 1px grey;
  text-align: left;
}
/* line 114, ../sass/partials/_03_structure.scss */
.news-panel-contents ul li {
  font-size: 13px;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 117, ../sass/partials/_03_structure.scss */
.news-panel-contents ul li:hover {
  color: #ba429b;
}
/* line 121, ../sass/partials/_03_structure.scss */
.news-panel-contents ul:before {
  content: "";
  position: absolute;
  top: 39px;
  left: 87px;
  border: solid 6px transparent;
  border-bottom: solid 6px grey;
}
/* line 129, ../sass/partials/_03_structure.scss */
.news-panel-contents ul:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 87px;
  border: solid 6px transparent;
  border-bottom: solid 6px white;
}

/* line 140, ../sass/partials/_03_structure.scss */
h1, h1 a {
  width: 110px;
  height: 110px;
  margin: 0;
}
/* line 144, ../sass/partials/_03_structure.scss */
h1 a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i02-1.jpg") no-repeat;
  -moz-background-size: 110px;
  -o-background-size: 110px;
  -webkit-background-size: 110px;
  background-size: 110px;
}

/* line 158, ../sass/partials/_03_structure.scss */
#intro-panel {
  width: 100%;
  height: 1031px;
  padding-top: 100px;
  text-align: center;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/i1.png") 0 0 no-repeat;
}

/* line 166, ../sass/partials/_03_structure.scss */
.nav-base {
  height: 100%;
}

/* line 170, ../sass/partials/_03_structure.scss */
.nav-panel-link {
  position: absolute;
  width: 124px;
  height: 124px;
  text-align: center;
  line-height: 124px;
  border: solid 1px grey;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 180, ../sass/partials/_03_structure.scss */
.nav-panel-cf {
  top: 535px;
  left: 120px;
}

/* line 185, ../sass/partials/_03_structure.scss */
.nav-panel-kr {
  top: 535px;
  right: 140px;
}

/* line 190, ../sass/partials/_03_structure.scss */
.nav-panel-gs {
  top: 671px;
  right: 140px;
}

/* line 197, ../sass/partials/_03_structure.scss */
.cafe-panel-image1 {
  float: right;
  width: 478px;
  margin-left: 30px;
}
/* line 201, ../sass/partials/_03_structure.scss */
.cafe-panel-image1 span {
  float: left;
}
/* line 203, ../sass/partials/_03_structure.scss */
.cafe-panel-image1 span:first-child {
  width: 100%;
  height: 270px;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i03-1-c1.png") no-repeat;
}
/* line 208, ../sass/partials/_03_structure.scss */
.cafe-panel-image1 span:last-child {
  margin-top: 10px;
}

/* line 214, ../sass/partials/_03_structure.scss */
.cafe-panel-menu {
  position: relative;
  z-index: 10;
}

/* line 219, ../sass/partials/_03_structure.scss */
.cafe-panel-image2 {
  float: left;
  width: 250px;
  margin-right: 30px;
}
/* line 223, ../sass/partials/_03_structure.scss */
.cafe-panel-image2 span {
  float: left;
}
/* line 225, ../sass/partials/_03_structure.scss */
.cafe-panel-image2 span:last-child {
  display: block;
  width: 122px;
  height: 110px;
  border: solid 1px #ba429b;
}
/* line 231, ../sass/partials/_03_structure.scss */
.cafe-panel-image2 span a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30% 5%;
  text-align: center;
  color: #ba429b;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 239, ../sass/partials/_03_structure.scss */
.cafe-panel-image2 span a:hover {
  background: #ba429b;
  color: white;
}

/* line 247, ../sass/partials/_03_structure.scss */
.cafe-panel-bg1 {
  width: 360px;
  height: 85px;
  margin: 45px 0 0 280px;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/c7.png") no-repeat;
}

/* line 254, ../sass/partials/_03_structure.scss */
.cafe-panel-bg2 {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 180px;
  height: 180px;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/c8.png") no-repeat;
  z-index: -10;
}

/* line 265, ../sass/partials/_03_structure.scss */
.cafe-panel-table td:first-child {
  padding-right: 3em;
}

/* line 272, ../sass/partials/_03_structure.scss */
.kidsroom-panel-image {
  float: right;
  width: 280px;
  margin-left: 30px;
}
/* line 276, ../sass/partials/_03_structure.scss */
.kidsroom-panel-image span {
  float: left;
}

/* line 281, ../sass/partials/_03_structure.scss */
.kidsroom-panel-text {
  height: 356px;
}

/* line 287, ../sass/partials/_03_structure.scss */
.glass-panel-text1 {
  float: left;
  width: 424px;
  margin-right: 30px;
}

/* line 295, ../sass/partials/_03_structure.scss */
.glass-panel-table1 td:first-child, .glass-panel-table2 td:first-child, .access-panel-table td:first-child {
  padding-right: 1em;
}

/* line 301, ../sass/partials/_03_structure.scss */
.glass-panel-text2 {
  float: left;
  width: 424px;
}

/* line 306, ../sass/partials/_03_structure.scss */
.glass-panel-element {
  float: left;
  width: 424px;
  height: 195px;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/g6.png") 37px 0px no-repeat;
}

/* line 313, ../sass/partials/_03_structure.scss */
.glass-panel-text3 {
  clear: left;
}

/* line 317, ../sass/partials/_03_structure.scss */
.glass-panel-table3 {
  width: 100%;
  text-align: center;
}
/* line 320, ../sass/partials/_03_structure.scss */
.glass-panel-table3 caption {
  border: solid 1px grey;
  border-bottom: none;
  background: #f5f5f5;
}
/* line 325, ../sass/partials/_03_structure.scss */
.glass-panel-table3 tr {
  height: 2em;
}
/* line 327, ../sass/partials/_03_structure.scss */
.glass-panel-table3 tr th, .glass-panel-table3 tr td {
  width: 146px;
  height: 5em;
  border: solid 1px grey;
}
/* line 332, ../sass/partials/_03_structure.scss */
.glass-panel-table3 tr th {
  background: #fafafa;
}

/* line 338, ../sass/partials/_03_structure.scss */
.glass-panel-image {
  float: left;
  width: 250px;
  margin-right: 30px;
}
/* line 342, ../sass/partials/_03_structure.scss */
.glass-panel-image span {
  float: left;
  border: solid 1px grey;
}
/* line 345, ../sass/partials/_03_structure.scss */
.glass-panel-image span:last-child {
  display: block;
  width: 122px;
  height: 122px;
  border: solid 1px #4aa2f2;
}
/* line 351, ../sass/partials/_03_structure.scss */
.glass-panel-image span a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 33% 15%;
  text-align: center;
  color: white;
  color: #4aa2f2;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 360, ../sass/partials/_03_structure.scss */
.glass-panel-image span a:hover {
  background: #4aa2f2;
  color: white;
}

/* line 368, ../sass/partials/_03_structure.scss */
.glass-panel-text4 {
  float: left;
  width: 598px;
}

/* line 375, ../sass/partials/_03_structure.scss */
.access-panel-image {
  position: relative;
  float: right;
  width: 376px;
  margin-left: 30px;
}

/* line 382, ../sass/partials/_03_structure.scss */
.google-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 392, ../sass/partials/_03_structure.scss */
#contact-panel {
  margin-bottom: -110px;
}

/* line 398, ../sass/partials/_03_structure.scss */
.footer-element {
  display: block;
  width: 1022px;
  height: 240px;
  margin: 0 auto;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/f1.png") no-repeat;
}

/* line 406, ../sass/partials/_03_structure.scss */
article > footer {
  width: 100%;
  height: 50px;
  padding: 0 72px;
  background: #cfdce5;
  vertical-align: middle;
  border-top: dashed 1px #ddd;
}
/* line 413, ../sass/partials/_03_structure.scss */
article > footer p {
  margin: 14px 0 12px;
  line-height: 26px;
}

/* line 419, ../sass/partials/_03_structure.scss */
.footer-icon-fb {
  float: right;
  width: 32px;
  height: 32px;
  margin: 9px 0;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/i06_elements/f2.png") no-repeat;
}
/* line 425, ../sass/partials/_03_structure.scss */
.footer-icon-fb:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
}

/* line 432, ../sass/partials/_03_structure.scss */
.mt0 {
  margin-top: 0;
}

/* line 436, ../sass/partials/_03_structure.scss */
.mb0 {
  margin-bottom: 0;
}

/* line 440, ../sass/partials/_03_structure.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 444, ../sass/partials/_03_structure.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 448, ../sass/partials/_03_structure.scss */
.mb65 {
  margin-bottom: 65px;
}

/* line 452, ../sass/partials/_03_structure.scss */
.mb130 {
  margin-bottom: 130px;
}

/* line 456, ../sass/partials/_03_structure.scss */
.mr6 {
  margin-right: 6px;
}

/* line 460, ../sass/partials/_03_structure.scss */
.mr22 {
  margin-right: 22px;
}

/* line 464, ../sass/partials/_03_structure.scss */
.pl0 {
  padding-left: 0;
}

/* line 468, ../sass/partials/_03_structure.scss */
.ls-c {
  list-style: circle;
}

/* line 472, ../sass/partials/_03_structure.scss */
.ls-n {
  list-style: none;
}

/* line 476, ../sass/partials/_03_structure.scss */
.ls-rice {
  list-style: none;
}
/* line 478, ../sass/partials/_03_structure.scss */
.ls-rice:before {
  content: "※";
  position: absolute;
  text-indent: -1.4em;
  line-height: 1.6em;
}

/* line 486, ../sass/partials/_03_structure.scss */
.ls-fix20 {
  padding-left: 20px;
}

/* line 490, ../sass/partials/_03_structure.scss */
.ls-fix300 {
  padding-left: 300px;
}

/* line 494, ../sass/partials/_03_structure.scss */
.link-button {
  border-bottom: dashed 1px;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 497, ../sass/partials/_03_structure.scss */
.link-button:hover {
  border-color: #4aa2f2;
  color: #4aa2f2;
}

/* line 503, ../sass/partials/_03_structure.scss */
.page-previous {
  position: absolute;
  left: 400px;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 507, ../sass/partials/_03_structure.scss */
.page-previous:hover {
  color: #ba429b;
}

/* line 512, ../sass/partials/_03_structure.scss */
.page-next {
  position: absolute;
  right: 400px;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 516, ../sass/partials/_03_structure.scss */
.page-next:hover {
  color: #ba429b;
}

/* line 521, ../sass/partials/_03_structure.scss */
.page-count {
  display: block;
  text-align: center;
}

/* line 526, ../sass/partials/_03_structure.scss */
.tag-name {
  text-align: center;
}

/* line 530, ../sass/partials/_03_structure.scss */
.post-date {
  margin-top: 21px;
  font-style: italic;
  font-size: 13px;
  color: grey;
}

/* line 537, ../sass/partials/_03_structure.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 544, ../sass/partials/_03_structure.scss */
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc");
}

/* line 3, ../sass/partials/_04_contact-form.scss */
input, textarea, button {
  margin: 0;
  padding: 5px 8px;
  line-height: 1.615;
  border: solid 1px grey;
  font-size: 13px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

/* line 12, ../sass/partials/_04_contact-form.scss */
textarea {
  resize: none;
}

/* line 16, ../sass/partials/_04_contact-form.scss */
.contact-panel-form {
  position: relative;
  width: 490px;
  margin: 0 auto;
}

/* line 22, ../sass/partials/_04_contact-form.scss */
.formtest {
  position: relative;
  width: 100%;
  height: 477px;
  margin-bottom: 15px;
  padding: 30px 50px 15px;
  background: #fafafa;
  border: solid 1px grey;
}
/* line 30, ../sass/partials/_04_contact-form.scss */
.formtest:before {
  content: "";
  position: absolute;
  top: 476px;
  left: 240px;
  border: solid 6px transparent;
  border-top: solid 6px grey;
}
/* line 38, ../sass/partials/_04_contact-form.scss */
.formtest:after {
  content: "";
  position: absolute;
  top: 475px;
  left: 240px;
  border: solid 6px transparent;
  border-top: solid 6px #fafafa;
}

/* line 48, ../sass/partials/_04_contact-form.scss */
.formtest-inside {
  overflow: hidden;
  height: 100%;
  padding: 0 3px;
}

/* line 54, ../sass/partials/_04_contact-form.scss */
.sent-message {
  opacity: 0;
  visibility: hidden;
}

/* line 60, ../sass/partials/_04_contact-form.scss */
.panel-form-subject > ul li {
  margin-bottom: 8px;
}
/* line 62, ../sass/partials/_04_contact-form.scss */
.panel-form-subject > ul li:last-child {
  margin-bottom: 0;
}

/* line 68, ../sass/partials/_04_contact-form.scss */
.panel-form-name, .panel-form-email, .panel-form-number {
  position: relative;
  width: 260px;
  margin-bottom: 13px;
  -webkit-appearance: none;
}

/* line 75, ../sass/partials/_04_contact-form.scss */
.panel-form-text {
  position: relative;
  width: 390px;
  margin-bottom: 13px;
  -webkit-appearance: none;
}

/* line 82, ../sass/partials/_04_contact-form.scss */
#ss-submit {
  position: relative;
  display: block;
  margin: 0 auto;
  background: #ba429b;
  border-color: #ba429b;
  -webkit-appearance: none;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 92, ../sass/partials/_04_contact-form.scss */
.click-on {
  color: white;
  -moz-box-shadow: 0 4px #822e6c;
  -webkit-box-shadow: 0 4px #822e6c;
  box-shadow: 0 4px #822e6c;
}
/* line 95, ../sass/partials/_04_contact-form.scss */
.click-on:hover {
  top: 1px;
  -moz-box-shadow: 0 3px #822e6c;
  -webkit-box-shadow: 0 3px #822e6c;
  box-shadow: 0 3px #822e6c;
}
/* line 99, ../sass/partials/_04_contact-form.scss */
.click-on:active {
  top: 4px;
  -moz-box-shadow: 0 0 #822e6c;
  -webkit-box-shadow: 0 0 #822e6c;
  box-shadow: 0 0 #822e6c;
}

/* line 105, ../sass/partials/_04_contact-form.scss */
.click-off {
  color: #822e6c;
  top: 4px;
  -moz-box-shadow: 0 0 #822e6c;
  -webkit-box-shadow: 0 0 #822e6c;
  box-shadow: 0 0 #822e6c;
}

@-moz-keyframes lilshake {
  0%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  17%, 50%, 83% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  33%, 67% {
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@-webkit-keyframes lilshake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  17%, 50%, 83% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  33%, 67% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@keyframes lilshake {
  0%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  17%, 50%, 83% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  33%, 67% {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}
/* line 117, ../sass/partials/_04_contact-form.scss */
.click-shake {
  -moz-animation-name: lilshake;
  -webkit-animation-name: lilshake;
  animation-name: lilshake;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* line 122, ../sass/partials/_04_contact-form.scss */
.form-warning {
  border-color: red;
}
/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.form-warning:-moz-placeholder {
  color: red;
}
/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.form-warning::-moz-placeholder {
  color: red;
}
/* line 67, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.form-warning:-ms-input-placeholder {
  color: red;
}
/* line 56, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.form-warning::-webkit-input-placeholder {
  color: red;
}
