@charset "UTF-8";
/* line 64, ../img/banner/*.png */
.banner-sprite, .banner-g0, .banner-k0, .banner-m0 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/banner-s1b59d82e27.png');
  background-repeat: no-repeat;
}

/* line 56, ../img/cafe_interior/*.png */
.cafe_interior-sprite, .cafe_interior-m2, .cafe_interior-m3 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/cafe_interior-sc64b2505d3.png');
  background-repeat: no-repeat;
}

/* line 80, ../img/cafe_menu/*.png */
.cafe_menu-sprite, .cafe_menu-m4-1, .cafe_menu-m4-2, .cafe_menu-m4-3, .cafe_menu-m4-4, .cafe_menu-m4-5 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/cafe_menu-s56436c8741.png');
  background-repeat: no-repeat;
}

/* line 72, ../img/kidsroom/*.png */
.kidsroom-sprite, .kidsroom-k1, .kidsroom-k2, .kidsroom-k3, .kidsroom-k4 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/kidsroom-s1218d2debb.png');
  background-repeat: no-repeat;
}

/* line 56, ../img/glass_banner/*.png */
.glass_banner-sprite, .glass_banner-g1, .glass_banner-g2 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/glass_banner-s88f88cacbc.png');
  background-repeat: no-repeat;
}

/* line 64, ../img/glass_work/*.png */
.glass_work-sprite, .glass_work-g3-1, .glass_work-g3-2, .glass_work-g3-3 {
  background-image: url('https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/glass_work-s7572252718.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.banner-g0 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.banner-k0 {
  background-position: 0 -210px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.banner-m0 {
  background-position: 0 -420px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_interior-m2 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_interior-m3 {
  background-position: 0 -178px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_menu-m4-1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_menu-m4-2 {
  background-position: 0 -110px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_menu-m4-3 {
  background-position: 0 -220px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_menu-m4-4 {
  background-position: 0 -330px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.cafe_menu-m4-5 {
  background-position: 0 -440px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.kidsroom-k1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.kidsroom-k2 {
  background-position: 0 -106px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.kidsroom-k3 {
  background-position: 0 -212px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.kidsroom-k4 {
  background-position: 0 -318px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.glass_banner-g1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.glass_banner-g2 {
  background-position: 0 -100px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.glass_work-g3-1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.glass_work-g3-2 {
  background-position: 0 -122px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.rc.1/stylesheets/compass/utilities/sprites/_base.scss */
.glass_work-g3-3 {
  background-position: 0 -244px;
}

/* line 23, ../sass/partials/_sprites.scss */
.banner-sprite, .banner-g0, .banner-k0, .banner-m0, .cafe_interior-sprite, .cafe_interior-m2, .cafe_interior-m3, .cafe_menu-sprite, .cafe_menu-m4-1, .cafe_menu-m4-2, .cafe_menu-m4-3, .cafe_menu-m4-4, .cafe_menu-m4-5, .kidsroom-sprite, .kidsroom-k1, .kidsroom-k2, .kidsroom-k3, .kidsroom-k4, .glass_banner-sprite, .glass_banner-g1, .glass_banner-g2, .glass_work-sprite, .glass_work-g3-1, .glass_work-g3-2, .glass_work-g3-3 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 27, ../sass/partials/_sprites.scss */
.banner-sprite, .banner-g0, .banner-k0, .banner-m0 {
  width: 878px;
  height: 210px;
}

/* line 33, ../sass/partials/_sprites.scss */
.cafe_interior-sprite, .cafe_interior-m2, .cafe_interior-m3 {
  width: 236px;
  height: 178px;
}

/* line 39, ../sass/partials/_sprites.scss */
.cafe_menu-sprite, .cafe_menu-m4-1, .cafe_menu-m4-2, .cafe_menu-m4-3, .cafe_menu-m4-4, .cafe_menu-m4-5 {
  width: 122px;
  height: 110px;
}

/* line 45, ../sass/partials/_sprites.scss */
.kidsroom-sprite, .kidsroom-k1, .kidsroom-k2, .kidsroom-k3, .kidsroom-k4 {
  width: 118px;
  height: 106px;
}

/* line 51, ../sass/partials/_sprites.scss */
.glass_banner-sprite, .glass_banner-g1, .glass_banner-g2 {
  width: 548px;
  height: 100px;
}

/* line 57, ../sass/partials/_sprites.scss */
.glass_work-sprite, .glass_work-g3-1, .glass_work-g3-2, .glass_work-g3-3 {
  width: 122px;
  height: 122px;
}

/* line 3, ../sass/partials/_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_structure.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_structure.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

/* line 19, ../sass/partials/_structure.scss */
.mb130 {
  margin-bottom: 130px;
}

/* line 23, ../sass/partials/_structure.scss */
.mb66 {
  margin-bottom: 66px;
}

/* line 27, ../sass/partials/_structure.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 31, ../sass/partials/_structure.scss */
.pl-0 {
  padding-left: 0;
}

/* line 35, ../sass/partials/_structure.scss */
.ls-c {
  list-style: circle;
}

/* line 39, ../sass/partials/_structure.scss */
.ls-n {
  list-style: none;
}

/* line 43, ../sass/partials/_structure.scss */
.ls-rice {
  list-style: none;
}
/* line 45, ../sass/partials/_structure.scss */
.ls-rice:before {
  content: "※";
  position: absolute;
  text-indent: -1.4em;
  line-height: 1.6em;
}

/* line 53, ../sass/partials/_structure.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 57, ../sass/partials/_structure.scss */
#header-image {
  display: block;
  width: 1024px;
  margin: 0 auto;
}

/* line 63, ../sass/partials/_structure.scss */
article {
  display: block;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  background: white;
  border-left: dashed 1px #ddd;
  border-right: dashed 1px #ddd;
}

/* line 73, ../sass/partials/_structure.scss */
.panel {
  position: relative;
  width: 100%;
  padding: 0 73px;
}

/* line 81, ../sass/partials/_structure.scss */
#header-panel {
  text-align: center;
}

/* line 85, ../sass/partials/_structure.scss */
nav {
  margin: 0 0 13px;
  padding-top: 13px;
}
/* line 88, ../sass/partials/_structure.scss */
nav a {
  margin-right: 13px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 91, ../sass/partials/_structure.scss */
nav a:last-child {
  margin: 0;
}

/* line 99, ../sass/partials/_structure.scss */
#intro-panel {
  text-align: center;
}

/* line 103, ../sass/partials/_structure.scss */
.intro-header-contents {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 107, ../sass/partials/_structure.scss */
h1, h1 a {
  width: 110px;
  height: 110px;
}
/* line 110, ../sass/partials/_structure.scss */
h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/header/logo.jpg") no-repeat;
  -moz-background-size: 110px;
  -o-background-size: 110px;
  -webkit-background-size: 110px;
  background-size: 110px;
}

/* line 119, ../sass/partials/_structure.scss */
#nav-image-wrapper {
  position: relative;
  height: 652px;
}

/* line 124, ../sass/partials/_structure.scss */
#nav-image-base, .nav-image-link {
  position: absolute;
}

/* line 128, ../sass/partials/_structure.scss */
#nav-image-base {
  top: 0px;
  left: 180px;
}

/* line 134, ../sass/partials/_structure.scss */
.nav-image-link {
  width: 124px;
  height: 124px;
  text-align: center;
  line-height: 124px;
  border: solid 1px black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 144, ../sass/partials/_structure.scss */
.nav-image-cf {
  top: 0;
  left: 56px;
}

/* line 149, ../sass/partials/_structure.scss */
.nav-image-kr {
  top: 0;
  left: 698px;
}

/* line 154, ../sass/partials/_structure.scss */
.nav-image-gs {
  top: 138px;
  left: 698px;
}

/* line 159, ../sass/partials/_structure.scss */
.nav-image-pk {
  top: 349px;
  left: 56px;
}

/* line 166, ../sass/partials/_structure.scss */
.cafe-panel-left {
  float: left;
  width: 478px;
}

/* line 171, ../sass/partials/_structure.scss */
.cafe-panel-right {
  float: right;
  width: 378px;
}

/* line 176, ../sass/partials/_structure.scss */
#cafe-panel-image {
  margin: 0;
  padding: 0;
}
/* line 180, ../sass/partials/_structure.scss */
#cafe-panel-image li:last-child {
  width: 122px;
  height: 110px;
  border: solid 1px grey;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 187, ../sass/partials/_structure.scss */
#cafe-panel-image li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 196, ../sass/partials/_structure.scss */
.kidsroom-panel-left {
  float: left;
  width: 366px;
}

/* line 201, ../sass/partials/_structure.scss */
.kidsroom-panel-right {
  float: right;
  width: 490px;
}

/* line 206, ../sass/partials/_structure.scss */
.glass-panel-left {
  float: left;
  width: 480px;
}

/* line 211, ../sass/partials/_structure.scss */
.glass-panel-right {
  float: right;
  width: 376px;
}

/* line 216, ../sass/partials/_structure.scss */
#glass-panel-image {
  margin: 0;
  padding: 0;
}
/* line 220, ../sass/partials/_structure.scss */
#glass-panel-image li:last-child {
  width: 122px;
  height: 122px;
  border: solid 1px grey;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 227, ../sass/partials/_structure.scss */
#glass-panel-image li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 236, ../sass/partials/_structure.scss */
#google-map {
  float: left;
}

/* line 240, ../sass/partials/_structure.scss */
#image-map {
  width: 376px;
  height: 192px;
}

/* line 247, ../sass/partials/_structure.scss */
footer {
  width: 100%;
  height: 50px;
  padding: 0 73px;
  vertical-align: middle;
  border-top: dashed 1px #ddd;
}

/* line 3, ../sass/partials/_typography.scss */
a, form, li, p, span, td, ul, h4, h4 a, h5 a, h5, h1, h1 a, h2, h2 a, h3 a, h3 {
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
}

/* line 13, ../sass/partials/_typography.scss */
a, form, li, p, span, td, ul, h4, h4 a, h5 a, h5, h1, h1 a, h2, h2 a, h3 a, h3 {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 23, ../sass/partials/_typography.scss */
a, form, li, p, span, td, ul, h4, h4 a, h5 a, h5 {
  font-size: 15px;
}

/* line 28, ../sass/partials/_typography.scss */
h1, h1 a {
  font-size: 21px;
  visibility: hidden;
}
/* line 32, ../sass/partials/_typography.scss */
h1 a {
  visibility: initial;
}

/* line 38, ../sass/partials/_typography.scss */
h2, h2 a, h3 a, h3 {
  font-size: 21px;
}

/* line 46, ../sass/partials/_typography.scss */
h4, h4 a, h5 a, h5 {
  font-size: 15px;
}

/* line 55, ../sass/partials/_typography.scss */
article > footer p {
  font-size: 13px;
}
/* line 57, ../sass/partials/_typography.scss */
article > footer p a {
  font-size: inherit;
}
