// Import

@import "compass/utilities/sprites";
@import "../img/banner/*.png";
@import "../img/cafe_interior/*.png";
@import "../img/cafe_menu/*.png";
@import "../img/kidsroom/*.png";
@import "../img/glass_banner/*.png";
@import "../img/glass_work/*.png";

// Include

@include all-banner-sprites;
@include all-cafe_interior-sprites;
@include all-cafe_menu-sprites;
@include all-kidsroom-sprites;
@include all-glass_banner-sprites;
@include all-glass_work-sprites;

// Individual sprite styles

%sprite {
  margin: 0;
  padding: 0;
}

.banner-sprite {
  @extend %sprite;
  width: 878px;
  height: 210px;
}

.cafe_interior-sprite {
  @extend %sprite;
  width: 236px;
  height: 178px;
}

.cafe_menu-sprite {
  @extend %sprite;
  width: 122px;
  height: 110px;
}

.kidsroom-sprite {
  @extend %sprite;
  width: 118px;
  height: 106px;
}

.glass_banner-sprite {
  @extend %sprite;
  width: 548px;
  height: 100px;
}

.glass_work-sprite {
  @extend %sprite;
  width: 122px;
  height: 122px;
}
