// Structure partial

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

// Global

#header-image {
  display: block;
  width: 1024px;
  margin: 0 auto;
}

article {
  display: block;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  background: white;
  border-left: dashed 1px #ddd;
  border-right: dashed 1px #ddd;
}

.panel {
  position: relative;
  width: 100%;
  padding: 0 72px;
}

.panel-footer {
  text-align: right;
}

// Header panel

#header-panel {
  text-align: center;
}

nav {
  padding-top: 13px;
  a {
    margin-right: 13px;
    @include inline-block;
    &:last-child {
      margin: 0;
    }
  }
}

// Intro panel

#intro-panel {
  text-align: center;
}

.intro-header-contents {
  position: relative;
  width: 180px;
  height: 110px;
  margin-right: 21px;
  @include inline-block;
  &:first-child {
    width: 110px;
  }
  &:last-child {
    margin: 0;
  }
  h4 {
    margin-top: 6px;
  }
  ul {
    padding-top: 13px;
    border-top: solid 1px black;
    text-align: left;
    li {
      font-size: 13px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 39px;
      left: 87px;
      border: solid 6px transparent;
      border-bottom: solid 6px black;
    }
    &:after {
      content: "";
      position: absolute;
      top: 40px;
      left: 87px;
      border: solid 6px transparent;
      border-bottom: solid 6px white;
    }
  }
}

h1 {
  width: 110px;
  height: 110px;
  margin: 0;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/header/logo.jpg") no-repeat;
    @include background-size(110px);
  }
}

.nav-image-caption {
  display: block;
  margin-bottom: 13px;
}

#nav-image {
  position: relative;
  width: 100%;
}

#nav-image-base {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.nav-image-link {
  position: absolute;
  width: 124px;
  height: 124px;
  text-align: center;
  line-height: 124px;
  border: solid 1px black;
  @include border-radius(50%);
}

.nav-image-cf {
  top: 0;
  left: 57px;
}

.nav-image-kr {
  top: 0;
  right: 57px;
}

.nav-image-gs {
  top: 138px;
  right: 57px;
}

.nav-image-pk {
  top: 349px;
  left: 57px;
}

#nav-image-swing {
  float: left;
  width: 242px;
  margin: 0 0 0 181px;
}

#nav-image-text {
  text-align: left;
}

// Cafe panel

.cafe-panel-image1 {
  float: right;
  width: 478px;
  margin-left: 30px;
  span {
    float: left;
    &:last-child {
      margin-top: 10px;
    }
  }
}

.cafe-panel-image2 {
  float: left;
  width: 250px;
  margin-right: 30px;
  span {
    float: left;
    &:last-child {
      display: block;
      width: 122px;
      height: 110px;
      border: solid 1px grey;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 30% 5%;
      text-align: center;
    }
  }
}

// Kidsroom panel

.kidsroom-panel-image {
  float: right;
  width: 242px;
  margin-left: 30px;
  span {
    float: left;
  }
}

// Glass panel

.glass-panel-text1 {
  float: left;
  width: 424px;
  margin-right: 30px;
}

.glass-panel-text2 {
  float: left;
  width: 424px;
  margin-bottom: 20px;
}

.glass-panel-image1 {
  float: left;
  width: 424px; // Remove latter
}

.glass-panel-text3 {
  clear: left;
}

.glass-panel-table {
  width: 100%;
  text-align: center;
  tr {
    height: 2em;
    th, td {
      width: 146px;
      height: 5em;
      border: solid 1px black;  
    }
  }
}

.glass-panel-image2 {
  float: left;
  width: 250px;
  margin-right: 30px;
  span {
    float: left;
    border: solid 1px grey;
    &:last-child {
      display: block;
      width: 122px;
      height: 122px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 33% 15%;
      text-align: center;
    }
  }
}

.glass-panel-text4 {
  float: left;
  width: 598px;
}

#glass-panel > footer {
  clear: left;
}

// Access panel

.access-panel-image {
  float: right;
  width: 376px;
  margin-left: 30px;
}

// Footer

article > footer {
  width: 100%;
  height: 50px;
  padding: 0 72px;
  vertical-align: middle;
  border-top: dashed 1px #ddd;
}

// Widgets

.mt0 {
  margin-top: 0;
}

.mb6 {
  margin-bottom: 6px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb130 {
  margin-bottom: 130px;
}

.mr6 {
  margin-right: 6px;
}

.mr22 {
  margin-right: 22px;
}

.pl0 {
  padding-left: 0;
}

.ls-c {
  list-style: circle;
}

.ls-n {
  list-style: none;
}

.ls-rice {
  list-style: none;
  &:before {
    content: "※";
    position: absolute;
    text-indent: -1.4em;
    line-height: 1.6em;
  }  
}

.ls-fix20 {
  padding-left: 20px;
}

.ls-fix300 {
  padding-left: 300px;
}

.cf {
  @include clearfix;
}
