// Structure partial

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

article {
  display: block;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  background: white;
}

#header-image {
  display: block;
  width: 1024px;
  margin: 0 auto;
}

.panel {
  position: relative;
  width: 100%;
  padding: 0 73px;
}

.mb130 {
  margin-bottom: 130px;
}

.mb66 {
  margin-bottom: 66px;
}

.mb50 {
  margin-bottom: 50px;
}

// header-panel

#header-panel {
  text-align: center;
}

nav {
  @include margin(1.3,0);
  a {
    @include margin(0,1.3,0,0);
    @include inline-block;
    &:last-child {
      margin: 0;
    }
  }
}

h1 {
  width: 110px;
  height: 110px;
  color: transparent;
  a {
    width: 100%;
    height: 100%;
    background: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/img/header/logo.jpg") no-repeat;
    @include inline-block;
    @include background-size(110px);
  }
}

#notice-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
}

.notice {
  width: 100%;
  height: 50%;
  border: solid 1px white;
  @include padding(0,2.1);
  &:first-child {
    border-bottom: solid 1px #ccc;
  }
  h3, ul {
    font-size: 13px;
    text-align: center;
  }
}

// intro-panel

#intro-panel {
  text-align: center;
}

#nav-image-wrapper {
  position: relative;
  height: 652px;
}

%nav-image {
  position: absolute;
}

#nav-image-base {
  @extend %nav-image;
  top: 0px;
  left: 180px;
}

.nav-image-link {
  @extend %nav-image;
  width: 124px;
  height: 124px;
  text-align: center;
  line-height: 124px;
  border: solid 1px black;
  @include border-radius(50%);
}

.nav-image-cf {
  top: 0;
  left: 56px;
}

.nav-image-kr {
  top: 0;
  left: 698px;
}

.nav-image-gs {
  top: 138px;
  left: 698px;
}

.nav-image-pk {
  top: 349px;
  left: 56px;
}

// footer

footer {
  width: 100%;
  height: 50px;
  padding: 0 73px;
  vertical-align: middle;
  border-top: solid 1px grey;
}
